<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Logowanie · IT Events</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link href="../../static/styles/main.css" th:href="@{/styles/main.css}" rel="stylesheet"/>
</head>
<body>
<nav th:replace="fragments :: navbar"></nav>
<div class="form-container">
    <form id="loginForm" name="loginForm" class="custom-form" onsubmit="return validateLoginForm();" method="post" th:method="post" action="#" th:action="@{/login}">
        <div class="form-heading">
            <h2>Zaloguj się do IT Events</h2>
            <span>Wprowadź swoje dane poniżej</span>
        </div>
        <div class="alert custom-alert-danger" role="alert" th:if="${#httpServletRequest.getParameter('error') == 'badCredentials'}" th:text="#{loginForm.exception.BadCredentialsException.message}"></div>
        <div class="alert custom-alert-danger" role="alert" th:if="${#httpServletRequest.getParameter('error') == 'disabledAccount'}" th:text="#{loginForm.exception.DisabledException.message}"></div>
        <div class="alert custom-alert-danger" role="alert" th:if="${#httpServletRequest.getParameter('error') == 'lockedAccount'}" th:text="#{loginForm.exception.LockedException.message}"></div>
        <div class="alert custom-alert-danger" role="alert" th:if="${#httpServletRequest.getParameter('error') == 'unknownError'}" th:text="#{loginForm.exception.unknownError.message}"></div>
        <div class="form-group">
            <label for="username" class="form-label">E-MAIL</label>
            <input type="text"
                   id="username" name="username"
                   class="form-control"
                   placeholder="E-mail">
            <div id="usernameErrorMessage" class="error-message" style="display: none;" th:text="#{loginForm.field.username.error.notNull.message}">Błędy związane z nazwą użytkownika</div>
        </div>
        <div class="form-group">
            <label for="password" class="form-label">HASŁO</label>
            <input type="password"
                   id="password" name="password"
                   class="form-control"
                   placeholder="Hasło">
            <div id="passwordErrorMessage" class="error-message" style="display: none;" th:text="#{loginForm.field.password.error.notNull.message}">Błędy związane z hasłem</div>
        </div>
        <div class="d-grid gap-2 col-5 mx-auto" style="margin: 8px 0 8px 0;">
            <button class="btn form-button" type="submit">Zaloguj się</button>
        </div>
    </form>
</div>

<th:block th:replace="fragments :: scripts"></th:block>
<script type="text/javascript" src="../../static/scripts/validation.js" th:src="@{/scripts/validation.js}"></script>
</body>
</html>