<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja · IT Events</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link href="../../static/styles/main.css" th:href="@{/styles/main.css}" rel="stylesheet"/>
</head>
<body>
<nav th:replace="fragments :: navbar"></nav>
<div class="form-container">
    <form id="registrationForm" name="registrationForm" class="custom-form" method="post" th:method="post" action="#" th:action="@{/register}" th:object="${newUserData}">
        <div class="form-heading">
            <h2>Rejestracja</h2>
            <span>Wprowadź swoje dane poniżej</span>
        </div>
        <div class="form-group">
            <label for="firstName" class="form-label">IMIĘ</label>
            <input type="text"
                   id="firstName" name="firstName"
                   class="form-control" th:class="${#fields.hasErrors('firstName')} == FALSE ? 'form-control' : 'form-control is-invalid'"
                   placeholder="Imię"
                   th:field="*{firstName}"
                   required>
            <div class="error-message" th:errors="*{firstName}">Błędy związane z imieniem</div>
        </div>
        <div class="form-group">
            <label for="lastName" class="form-label">NAZWISKO</label>
            <input type="text"
                   id="lastName" name="lastName"
                   class="form-control" th:class="${#fields.hasErrors('lastName')} == FALSE ? 'form-control' : 'form-control is-invalid'"
                   placeholder="Nazwisko"
                   th:field="*{lastName}"
                   required>
            <div class="error-message" th:errors="*{lastName}">Błędy związane z nazwiskiem</div>
        </div>
        <div class="form-group">
            <label for="email" class="form-label">E-MAIL</label>
            <input type="text"
                   id="email" name="email"
                   class="form-control" th:class="${#fields.hasErrors('email')} == FALSE ? 'form-control' : 'form-control is-invalid'"
                   placeholder="E-mail"
                   th:field="*{email}"
                   required>
            <div class="error-message" th:errors="*{email}">Błędy związane z emailem</div>
        </div>
        <div class="form-group">
            <label for="password" class="form-label">HASŁO</label>
            <input type="password"
                   id="password" name="password"
                   class="form-control" th:class="${#fields.hasErrors('password')} == FALSE ? 'form-control' : 'form-control is-invalid'"
                   placeholder="Hasło"
                   th:field="*{password}"
                   required>
            <div class="error-message" th:errors="*{password}">Błędy związane z hasłem</div>
        </div>
        <div class="form-group">
            <label for="confirmPassword" class="form-label">POTWIERDŹ HASŁO</label>
            <input type="password"
                   id="confirmPassword" name="confirmPassword"
                   class="form-control" th:class="${#fields.hasErrors('confirmPassword')} == FALSE ? 'form-control' : 'form-control is-invalid'"
                   placeholder="Potwierdź hasło"
                   th:field="*{confirmPassword}"
                   required>
            <div class="error-message" th:errors="*{confirmPassword}">Błędy związane z hasłem</div>
        </div>
        <div class="d-grid gap-2 col-5 mx-auto" style="margin: 8px 0 8px 0;">
            <button class="btn form-button" type="submit">Zarejestruj się</button>
        </div>
    </form>
</div>

<th:block th:replace="fragments :: scripts"></th:block>
</body>
</html>