<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Użytkownicy · IT Events</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link href="../../static/styles/main.css" th:href="@{/styles/main.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body onload="setCurrentSortOption();">
<nav th:replace="fragments :: navbar"></nav>
<div class="container">
    <div class="table-heading">
        <h2>Użytkownicy</h2>
    </div>
    <div class="search-container">
        <form id="searchForm" name="searchForm" class="search-form" onsubmit="return validateSearchForm()" method="get" th:method="get" action="#" th:action="@{'/admin/users/results'}">
            <div style="padding: 0.5rem 0.75rem;">
                <i class="fa-solid fa-search search-icon"></i>
            </div>
            <input type="search"
                   id="search_query" name="search_query"
                   class="search-form-input"
                   placeholder="Szukaj"
                   th:value="${#request.getParameter('search_query')}">
            <button class="btn form-button" type="submit">Szukaj</button>
        </form>
    </div>
    <div class="row" style="margin: 0; padding: 5px; background-color: #ffffff; display: flex; justify-content: center; align-items: center;">
        <div class="col-md-4"></div>
        <div class="col-md-4" style="text-align: center;">
            <span th:text="'Liczba użytkowników: ' + ${users.getTotalElements()}">Liczba użytkowników: 0</span>
        </div>
        <div class="col-md-4" style="text-align: right; padding: 5px 0;">
            <div class="dropdown show">
                <a class="sort-options-menu dropdown-toggle" href="#" role="button" id="sortOptionsMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Nazwisko: Rosnąco (od A do Z)
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="sortOptionsMenu">
                    <a class="dropdown-item" id="lastNameAsc" href="#" th:href="${prefixUrl + 'sort_by=lastName&order_by=asc'}">Nazwisko: Rosnąco (od A do Z)</a>
                    <a class="dropdown-item" id="lastNameDesc" href="#" th:href="${prefixUrl + 'sort_by=lastName&order_by=desc'}">Nazwisko: Malejąco (od Z do A)</a>
                </div>
            </div>
        </div>
    </div>
    <table class="table admin-user-table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Imię</th>
            <th scope="col">Nazwisko</th>
            <th scope="col">E-mail</th>
            <th style="text-align: center;" scope="col">Włączony</th>
            <th style="text-align: center;" scope="col">Zablokowany</th>
            <th style="text-align: center;" scope="col">Rola</th>
            <th style="text-align: center;" scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user, status: ${users}">
            <td th:text="${((users.getNumber() + 1) * 10) - 10 + status.count}">1</td>
            <td th:text="${user.firstName}">Jan</td>
            <td th:text="${user.lastName}">Kowalski</td>
            <td th:text="${user.email}">jankowalski@example.com</td>
            <td style="text-align: center;" th:text="${user.enabled == true ? 'Tak' : 'Nie'}">Tak</td>
            <td style="text-align: center;" th:text="${user.accountNonLocked == true ? 'Nie' : 'Tak'}">Nie</td>
            <td style="text-align: center;">
                <p style="margin: auto;" th:each="role: ${user.roles}" th:text="${role.displayName}">Użytkownik</p>
            </td>
            <td style="text-align: center;">
                <a href="#" th:href="@{'/users/' + ${user.id}}"><i class="fa-solid fa-user icon-button"></i></a>
            </td>
        </tr>
        <th:block th:if="${users.getNumberOfElements() < 10}" th:each="i, status: ${#numbers.sequence((1 + (users.getNumber() * 10) + users.getNumberOfElements()), (users.getNumber() + 1) * 10)}">
            <tr>
                <td th:text="${i}">1</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item disabled" th:class="${(users.getNumber() + 1) > 1 ? 'page-item' : 'page-item disabled'}">
                <a class="page-link" th:if="${sortParams == null}" href="#" th:href="@{${prefixUrl} + 'page=1'}">Pierwsza</a>
                <a class="page-link" th:if="${sortParams != null}" href="#" th:href="@{${prefixUrl} + 'page=1' + '&' + ${sortParams}}">Pierwsza</a>
            </li>
            <li class="page-item disabled" th:class="${(users.getNumber() + 1) > 1 ? 'page-item' : 'page-item disabled'}">
                <a class="page-link" th:if="${sortParams == null}" href="#" th:href="@{${prefixUrl} + 'page=' + ${users.getNumber()}}">Poprzednia</a>
                <a class="page-link" th:if="${sortParams != null}" href="#" th:href="@{${prefixUrl} + 'page=' + ${users.getNumber()} + '&' + ${sortParams}}">Poprzednia</a>
            </li>
            <li class="page-item disabled" th:if="${users.getTotalElements() == 0}">
                <a class="page-link" href="#">1</a>
            </li>
            <th:block th:if="${users.getTotalElements() > 0}" th:each="i: ${#numbers.sequence((users.getNumber() + 1) - 3, (users.getNumber() + 1) - 1)}">
                <li class="page-item" th:if="${i > 0}">
                    <a class="page-link" th:if="${sortParams == null}" href="#" th:href="@{${prefixUrl} + 'page=' + ${i}}" th:text="${i}">1</a>
                    <a class="page-link" th:if="${sortParams != null}" href="#" th:href="@{${prefixUrl} + 'page=' + ${i} + '&' + ${sortParams}}" th:text="${i}">1</a>
                </li>
            </th:block>
            <th:block th:if="${users.getTotalElements() > 0}" th:each="i: ${#numbers.sequence((users.getNumber() + 1), (users.getNumber() + 1) + 3)}">
                <li class="page-item active" th:if="${i <= users.getTotalPages()}" th:class="${(users.getNumber() + 1) != i ? 'page-item' : 'page-item active'}">
                    <a class="page-link" th:if="${sortParams == null}" href="#" th:href="@{${prefixUrl} + 'page=' + ${i}}" th:text="${i}">1</a>
                    <a class="page-link" th:if="${sortParams != null}" href="#" th:href="@{${prefixUrl} + 'page=' + ${i} + '&' + ${sortParams}}" th:text="${i}">1</a>
                </li>
            </th:block>
            <li class="page-item disabled" th:class="${(users.getNumber() + 1) < users.getTotalPages() ? 'page-item' : 'page-item disabled'}">
                <a class="page-link" th:if="${sortParams == null}" href="#" th:href="@{${prefixUrl} + 'page=' + ${users.getNumber() + 2}}">Następna</a>
                <a class="page-link" th:if="${sortParams != null}" href="#" th:href="@{${prefixUrl} + 'page=' + ${users.getNumber() + 2} + '&' + ${sortParams}}">Następna</a>
            </li>
            <li class="page-item disabled" th:class="${(users.getNumber() + 1) < users.getTotalPages() ? 'page-item' : 'page-item disabled'}">
                <a class="page-link" th:if="${sortParams == null}" href="#" th:href="@{${prefixUrl} + 'page=' + ${users.getTotalPages()}}">Ostatnia</a>
                <a class="page-link" th:if="${sortParams != null}" href="#" th:href="@{${prefixUrl} + 'page=' + ${users.getTotalPages()} + '&' + ${sortParams}}">Ostatnia</a>
            </li>
        </ul>
    </nav>
</div>

<th:block th:replace="fragments :: scripts"></th:block>
<script src="../../static/scripts/main.js" th:src="@{/scripts/main.js}"></script>
<script type="text/javascript" src="../../static/scripts/validation.js" th:src="@{/scripts/validation.js}"></script>
</body>
</html>