<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edycja konta użytkownika · IT Events</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link href="../../../static/styles/main.css" th:href="@{/styles/main.css}" rel="stylesheet"/>
</head>
<body>
<nav th:replace="fragments :: navbar"></nav>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="side-nav-link active" href="#" th:href="@{'/admin/users/' + ${userAccount.id} + '/settings/account'}">Konto</a>
                </li>
                <li class="nav-item">
                    <a class="side-nav-link" href="#" th:href="@{'/admin/users/' + ${userAccount.id} + '/settings/profile'}">Profil</a>
                </li>
                <li class="nav-item">
                    <a class="side-nav-link" href="#" th:href="@{'/admin/users/' + ${userAccount.id} + '/settings/password'}">Hasło</a>
                </li>
                <li class="nav-item">
                    <a class="side-nav-link" href="#" th:href="@{'/admin/users/' + ${userAccount.id} + '/settings/delete_account'}">Usuwanie konta użytkownika</a>
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            <form id="adminUserAccountEditForm" name="adminUserAccountEditForm" class="custom-form" method="post" th:method="patch" action="#" th:action="@{'/admin/users/' + ${userAccount.id} + '/settings/account'}" th:object="${userAccount}">
                <div class="form-heading">
                    <h2>Edycja konta użytkownika</h2>
                    <span>Zaktualizuj konto użytkownika poniżej</span>
                </div>
                <div class="alert custom-alert-success" role="alert" th:if="${accountUpdated == true}" th:text="#{admin.adminUserAccountEditForm.accountUpdated.message}"></div>
                <div class="form-group">
                    <label for="enabled" class="form-label">WŁĄCZONY</label>
                    <select id="enabled" name="enabled"
                            class="form-control" th:class="${#fields.hasErrors('enabled')} == FALSE ? 'form-control' : 'form-control is-invalid'"
                            th:field="*{enabled}">
                        <option th:value="'true'" th:text="'Tak'">Tak</option>
                        <option th:value="'false'" th:text="'Nie'">Nie</option>
                    </select>
                    <div class="error-message" th:errors="*{enabled}">Błędy związane z polem włączony</div>
                </div>
                <div class="form-group">
                    <label for="accountNonLocked" class="form-label">ZABLOKOWANY</label>
                    <select id="accountNonLocked" name="accountNonLocked"
                            class="form-control" th:class="${#fields.hasErrors('accountNonLocked')} == FALSE ? 'form-control' : 'form-control is-invalid'"
                            th:field="*{accountNonLocked}">
                        <option th:value="'true'" th:text="'Nie'">Nie</option>
                        <option th:value="'false'" th:text="'Tak'">Tak</option>
                    </select>
                    <div class="error-message" th:errors="*{accountNonLocked}">Błędy związane z polem zablokowany</div>
                </div>
                <div class="form-group">
                    <label class="form-label">ROLA</label>
                    <div th:each="userRole : ${T(pl.patrykdepka.iteventsapp.appuser.model.Role).values()}">
                        <input type="checkbox"
                               th:id="${userRole}" th:name="${userRole}"
                               class="custom-checkbox"
                               th:value="${userRole}"
                               th:field="*{roles}">
                        <label th:for="${userRole}" th:text="${userRole.displayName}">Rola</label>
                    </div>
                    <div class="error-message" th:errors="*{roles}">Błędy związane z rolą</div>
                </div>
                <div class="d-grid gap-2 col-5 mx-auto" style="margin: 8px 0 8px 0;">
                    <button class="btn form-button" type="submit">Zaktualizuj konto</button>
                </div>
            </form>
        </div>
    </div>
</div>

<th:block th:replace="fragments :: scripts"></th:block>
</body>
</html>