<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Usuwanie konta użytkownika · IT Events</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link href="../../../static/styles/main.css" th:href="@{/styles/main.css}" rel="stylesheet"/>
</head>
<body>
<nav th:replace="fragments :: navbar"></nav>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="side-nav-link" href="#" th:href="@{'/admin/users/' + ${deleteUserData.id} + '/settings/profile'}">Profil</a>
                </li>
                <li class="nav-item">
                    <a class="side-nav-link" href="#" th:href="@{'/admin/users/' + ${deleteUserData.id} + '/settings/password'}">Hasło</a>
                </li>
                <li class="nav-item">
                    <a class="side-nav-link active" href="#" th:href="@{'/admin/users/' + ${deleteUserData.id} + '/settings/delete_account'}">Usuwanie konta użytkownika</a>
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            <form id="adminUserDeleteForm" name="adminUserDeleteForm" class="custom-form" onsubmit="return validateAdminUserDeleteForm();" method="post" th:method="delete" action="#" th:action="@{'/admin/users/' + ${deleteUserData.id}}" th:object="${deleteUserData}">
                <div class="form-heading">
                    <h2>Usuwanie konta użytkownika</h2>
                    <span>Wprowadź swoje hasło poniżej</span>
                </div>
                <div class="form-group">
                    <label for="adminPassword" class="form-label">HASŁO ADMINISTRATORA</label>
                    <input type="password"
                           id="adminPassword" name="adminPassword"
                           class="form-control" th:class="${#fields.hasErrors('adminPassword')} == FALSE ? 'form-control' : 'form-control is-invalid'"
                           placeholder="Hasło administratora"
                           th:field="*{adminPassword}">
                    <div id="adminPasswordErrorMessage" class="error-message" style="display: none;" th:text="#{form.field.adminPassword.error.notNull.message}">Błędy związane z hasłem</div>
                    <div class="error-message" th:errors="*{adminPassword}">Błędy związane z hasłem</div>
                </div>
                <div class="d-grid gap-2 col-5 mx-auto" style="margin: 8px 0 8px 0;">
                    <button class="btn form-button" type="submit">Zmień hasło</button>
                </div>
            </form>
        </div>
    </div>
</div>

<th:block th:replace="fragments :: scripts"></th:block>
<script type="text/javascript" src="../../../static/scripts/validation.js" th:src="@{/scripts/validation.js}"></script>
</body>
</html>