<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edycja profilu użytkownika · IT Events</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link href="../../../static/styles/main.css" th:href="@{/styles/main.css}" rel="stylesheet"/>
</head>
<body>
<nav th:replace="fragments :: navbar"></nav>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="side-nav-link active" href="#" th:href="@{'/admin/users/' + ${userProfile.id} + '/settings/profile'}">Profil</a>
                </li>
                <li class="nav-item">
                    <a class="side-nav-link" href="#" th:href="@{'/admin/users/' + ${userProfile.id} + '/settings/password'}">Hasło</a>
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            <form id="adminUserProfileEditForm" name="adminUserProfileEditForm" class="custom-form" enctype="multipart/form-data" onsubmit="return validateAdminUserProfileEditForm();" method="post" th:method="patch" action="#" th:action="@{'/admin/users/' + ${userProfile.id} + '/settings/profile'}" th:object="${userProfile}">
                <div class="form-heading">
                    <h2>Edycja profilu użytkownika</h2>
                    <span>Zaktualizuj profil użytkownika poniżej</span>
                </div>
                <div class="alert custom-alert-success" role="alert" th:if="${profileUpdated == true}" th:text="#{admin.adminUserProfileEditForm.profileUpdated.message}"></div>
                <div class="form-group">
                    <label for="profileImage" class="form-label">ZDJĘCIE PROFILOWE</label>
                    <div style="margin: 8px 0 8px 0;">
                        <img style="border-radius: 50%;" th:src="'data:' + ${userProfile.profileImageType} + ';base64,' + ${userProfile.profileImageData}" width="120" height="120">
                    </div>
                    <input type="file"
                           id="profileImage" name="profileImage"
                           class="form-control-file" th:class="${#fields.hasErrors('profileImage')} == FALSE ? 'form-control-file' : 'form-control-file is-invalid'"
                           th:field="*{profileImage}">
                    <div class="error-message" th:errors="*{profileImage}">Błędy związane ze zdjęciem profilowym</div>
                </div>
                <div class="form-group">
                    <label for="firstName" class="form-label">IMIĘ</label>
                    <input type="text"
                           id="firstName" name="firstName"
                           class="form-control" th:class="${#fields.hasErrors('firstName')} == FALSE ? 'form-control' : 'form-control is-invalid'"
                           placeholder="Imię"
                           th:field="*{firstName}">
                    <div id="firstNameErrorMessage" class="error-message" style="display: none;" th:text="#{form.field.firstName.error.notNull.message}">Błędy związane z imieniem</div>
                    <div class="error-message" th:errors="*{firstName}">Błędy związane z imieniem</div>
                </div>
                <div class="form-group">
                    <label for="lastName" class="form-label">NAZWISKO</label>
                    <input type="text"
                           id="lastName" name="lastName"
                           class="form-control" th:class="${#fields.hasErrors('lastName')} == FALSE ? 'form-control' : 'form-control is-invalid'"
                           placeholder="Nazwisko"
                           th:field="*{lastName}">
                    <div id="lastNameErrorMessage" class="error-message" style="display: none;" th:text="#{form.field.lastName.error.notNull.message}">Błędy związane z nazwiskiem</div>
                    <div class="error-message" th:errors="*{lastName}">Błędy związane z nazwiskiem</div>
                </div>
                <div class="form-group">
                    <label for="dateOfBirth" class="form-label">DATA URODZENIA</label>
                    <input type="date"
                           id="dateOfBirth" name="dateOfBirth"
                           class="form-control" th:class="${#fields.hasErrors('dateOfBirth')} == FALSE ? 'form-control' : 'form-control is-invalid'"
                           th:field="*{dateOfBirth}">
                    <div id="dateOfBirthErrorMessage" class="error-message" style="display: none;" th:text="#{form.field.dateOfBirth.error.notNull.message}">Błędy związane z datą urodzenia</div>
                    <div class="error-message" th:errors="*{dateOfBirth}">Błędy związane z datą urodzenia</div>
                </div>
                <div class="form-group">
                    <label for="city" class="form-label">Miasto</label>
                    <input type="text"
                           id="city" name="city"
                           class="form-control" th:class="${#fields.hasErrors('city')} == FALSE ? 'form-control' : 'form-control is-invalid'"
                           placeholder="Miasto"
                           th:field="*{city}">
                    <div class="error-message" th:errors="*{city}">Błędy związane z miastem</div>
                </div>
                <div class="form-group">
                    <label for="bio" class="form-label">BIOGRAM</label>
                    <textarea id="bio" name="bio"
                              class="form-control" th:class="${#fields.hasErrors('bio')} == FALSE ? 'form-control' : 'form-control is-invalid'"
                              placeholder="Biogram"
                              th:field="*{bio}">
                    </textarea>
                    <div class="error-message" th:errors="*{bio}">Błędy związane z biogramem</div>
                </div>
                <div class="d-grid gap-2 col-5 mx-auto" style="margin: 8px 0 8px 0;">
                    <button class="btn form-button" type="submit">Zaktualizuj profil</button>
                </div>
            </form>
        </div>
    </div>
</div>

<th:block th:replace="fragments :: scripts"></th:block>
<script type="text/javascript" src="../../../static/scripts/validation.js" th:src="@{/scripts/validation.js}"></script>
</body>
</html>