<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${userProfile.firstName + ' ' + userProfile.lastName + ' · IT Events'}">Jan Kowalski · IT Events</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link href="../static/styles/main.css" th:href="@{/styles/main.css}" rel="stylesheet"/>
</head>
<body>
<nav th:replace="fragments :: navbar"></nav>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div style="width: 100%;">
                <img th:src="${'data:' + userProfile.profileImageType + ';base64,' + userProfile.profileImageData}" width="100" height="100">
            </div>
            <div style="width: 100%;">
                <h2 th:text="${userProfile.firstName + ' ' + userProfile.lastName}">Jan Kowalski</h2>
            </div>
            <div style="width: 100%;">
                <label class="app-label" style="width: 25%;">Data urodzenia:</label>
                <span style="width: 75%; text-align: left;" th:text="${userProfile.dateOfBirth}">06.10.1995</span>
            </div>
            <div style="width: 100%;">
                <label class="app-label" style="width: 25%;">Miasto:</label>
                <span style="width: 75%; text-align: left;" th:text="${userProfile.city}">Rzeszów</span>
            </div>
        </div>
        <div class="col-sm-8">
            <div style="width: 100%;">
                <label class="app-label" style="width: 100%;">O użytkowniku</label>
                <span th:text="${userProfile.bio}">Cześć! Nazywam się Jan Kowalski i jestem z Rzeszowa. Obecnie jestem na trzecim roku informatyki na Politechnice Rzeszowskiej.</span>
            </div>
        </div>
    </div>
    <div style="text-align: center;">
        <h1>Widok profilu użytkownika jest do zrobienia :)</h1>
    </div>
</div>

<th:block th:replace="fragments :: scripts"></th:block>
</body>
</html>