<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Użytkownicy · IT Events</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link href="../static/styles/main.css" th:href="@{/styles/main.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
<nav th:replace="fragments :: navbar"></nav>
<div class="container">
    <div class="table-heading">
        <h2>Użytkownicy</h2>
    </div>
    <div class="row" style="margin: 0; padding: 5px; background-color: #ffffff; display: flex; justify-content: center; align-items: center;">
        <div class="col-md-4"></div>
        <div class="col-md-4" style="text-align: center;">
            <span th:text="'Liczba użytkowników: ' + ${users.getTotalElements()}">Liczba użytkowników: 0</span>
        </div>
        <div class="col-md-4"></div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Imię</th>
            <th scope="col">Nazwisko</th>
            <th style="text-align: center;" scope="col">E-mail</th>
            <th style="text-align: center;" scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user, status: ${users}">
            <td th:text="${((users.getNumber() + 1) * 10) - 10 + status.count}">1</td>
            <td th:text="${user.firstName}">Jan</td>
            <td th:text="${user.lastName}">Kowalski</td>
            <td style="text-align: center;" th:text="${user.email}">jankowalski@example.com</td>
            <td style="text-align: center;">
                <a href="#" th:href="@{'/users/' + ${user.id}}"><i class="fa-solid fa-user icon-button"></i></a>
            </td>
        </tr>
        <th:block th:if="${users.getNumberOfElements() < 10}" th:each="i, status: ${#numbers.sequence((1 + (users.getNumber() * 10) + users.getNumberOfElements()), (users.getNumber() + 1) * 10)}">
            <tr>
                <td th:text="${i}">1</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item disabled" th:class="${(users.getNumber() + 1) > 1 ? 'page-item' : 'page-item disabled'}">
                <a class="page-link" href="#" th:href="@{${prefixUrl} + 'page=1'}">Pierwsza</a>
            </li>
            <li class="page-item disabled" th:class="${(users.getNumber() + 1) > 1 ? 'page-item' : 'page-item disabled'}">
                <a class="page-link" href="#" th:href="@{${prefixUrl} + 'page=' + ${users.getNumber()}}">Poprzednia</a>
            </li>
            <li class="page-item disabled" th:if="${users.getTotalElements() == 0}">
                <a class="page-link" href="#">1</a>
            </li>
            <th:block th:if="${users.getTotalElements() > 0}" th:each="i: ${#numbers.sequence((users.getNumber() + 1) - 3, (users.getNumber() + 1) - 1)}">
                <li class="page-item" th:if="${i > 0}">
                    <a class="page-link" href="#" th:href="@{${prefixUrl} + 'page=' + ${i}}" th:text="${i}">1</a>
                </li>
            </th:block>
            <th:block th:if="${users.getTotalElements() > 0}" th:each="i: ${#numbers.sequence((users.getNumber() + 1), (users.getNumber() + 1) + 3)}">
                <li class="page-item active" th:if="${i <= users.getTotalPages()}" th:class="${(users.getNumber() + 1) != i ? 'page-item' : 'page-item active'}">
                    <a class="page-link" href="#" th:href="@{${prefixUrl} + 'page=' + ${i}}" th:text="${i}">1</a>
                </li>
            </th:block>
            <li class="page-item disabled" th:class="${(users.getNumber() + 1) < users.getTotalPages() ? 'page-item' : 'page-item disabled'}">
                <a class="page-link" href="#" th:href="@{${prefixUrl} + 'page=' + ${users.getNumber() + 2}}">Następna</a>
            </li>
            <li class="page-item disabled" th:class="${(users.getNumber() + 1) < users.getTotalPages() ? 'page-item' : 'page-item disabled'}">
                <a class="page-link" href="#" th:href="@{${prefixUrl} + 'page=' + ${users.getTotalPages()}}">Ostatnia</a>
            </li>
        </ul>
    </nav>
</div>

<th:block th:replace="fragments :: scripts"></th:block>
</body>
</html>