<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wydarzenia · IT Events</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link href="../static/styles/main.css" th:href="@{/styles/main.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
<nav th:replace="fragments :: navbar"></nav>
<div class="container">
    <div class="search-container">
        <div class="search-form">
            <div style="padding: 0.5rem 0.75rem;">
                <i class="fa-solid fa-search search-icon"></i>
            </div>
            <input type="search"
                   id="city" name="city"
                   class="search-form-input"
                   placeholder="Wybierz miasto"
                   list="cities"
                   onchange="getEventsByCity();"/>
            <datalist id="cities">
                <option th:each="city: ${cities}" th:value="${city.displayName}">Rzeszów</option>
            </datalist>
        </div>
    </div>
    <div>
        <div class="event-list-header">
            <h2>
                <span th:if="${pathName.equals('/events')}">Nadchodzące wydarzenia:</span>
                <span th:if="${pathName.equals('/archive/events')}">Minione wydarzenia:</span>
                <span th:if="${pathName.equals('/events/my_events')}">Twoje wydarzenia:</span>
                <span style="color: #f39c12;" th:text="${cityName}">Rzeszów</span>
                <span style="color: #f39c12;" th:text="'(' + ${events.totalElements} + ')'">(10)</span>
            </h2>
        </div>
        <div class="event-list">
            <th:block th:if="${events.totalElements > 0}" th:each="event: ${events}">
                <a style="color: gray; text-decoration: none;" th:href="@{'/events/' + ${event.id}}">
                    <div class="row align-items-center event-card" style="width: 100%">
                        <div class="col-sm-2">
                            <span class="event-date" th:text="${event.date} + ' | ' + ${event.dayOfWeek}">03.01 | wt.</span>
                        </div>
                        <div class="col-sm-4">
                            <span class="event-name" th:text="${event.name}">Nazwa wydarzenia</span>
                        </div>
                        <div class="col-sm-2">
                            <span class="" th:text="${event.city}">Rzeszów</span>
                        </div>
                        <div class="col-sm-2">
                            <span th:text="${event.eventType}">Spotkanie</span>
                        </div>
                        <div class="col-sm-2">
                            <span th:text="${event.admission}">Bezpłatny</span>
                        </div>
                    </div>
                </a>
            </th:block>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4" style="text-align: right;">
            <a class="btn form-button" href="#" th:href="@{'/archive/events'}">Przejdź do archiwum wydarzeń</a>
        </div>
    </div>
    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item disabled" th:class="${(events.getNumber() + 1) > 1 ? 'page-item' : 'page-item disabled'}">
                <a class="page-link" th:if="${city == null}" href="#" th:href="@{${pathName} + '?page=1'}">Pierwsza</a>
                <a class="page-link" th:if="${city != null}" href="#" th:href="@{${pathName} + '/cities/' + ${city} + '?page=1'}">Pierwsza</a>
            </li>
            <li class="page-item disabled" th:class="${(events.getNumber() + 1) > 1 ? 'page-item' : 'page-item disabled'}">
                <a class="page-link" th:if="${city == null}" href="#" th:href="@{${pathName} + '?page=' + ${events.getNumber()}}">Poprzednia</a>
                <a class="page-link" th:if="${city != null}" href="#" th:href="@{${pathName} + '/cities/' + ${city} + '?page=' + ${events.getNumber()}}">Poprzednia</a>
            </li>
            <li class="page-item disabled" th:if="${events.getTotalElements() == 0}">
                <a class="page-link" href="#">1</a>
            </li>
            <th:block th:if="${events.getTotalElements() > 0}" th:each="i: ${#numbers.sequence((events.getNumber() + 1) - 3, (events.getNumber() + 1) - 1)}">
                <li class="page-item" th:if="${i > 0}">
                    <a class="page-link" th:if="${city == null}" href="#" th:href="@{${pathName} + '?page=' + ${i}}" th:text="${i}">1</a>
                    <a class="page-link" th:if="${city != null}" href="#" th:href="@{${pathName} + '/cities/' + ${city} + '?page=' + ${i}}" th:text="${i}">1</a>
                </li>
            </th:block>
            <th:block th:if="${events.getTotalElements() > 0}" th:each="i: ${#numbers.sequence((events.getNumber() + 1), (events.getNumber() + 1) + 3)}">
                <li class="page-item active" th:if="${i <= events.getTotalPages()}" th:class="${(events.getNumber() + 1) != i ? 'page-item' : 'page-item active'}">
                    <a class="page-link" th:if="${city == null}" href="#" th:href="@{${pathName} + '?page=' + ${i}}" th:text="${i}">1</a>
                    <a class="page-link" th:if="${city != null}" href="#" th:href="@{${pathName} + '/cities/' + ${city} + '?page=' + ${i}}" th:text="${i}">1</a>
                </li>
            </th:block>
            <li class="page-item disabled" th:class="${(events.getNumber() + 1) < events.getTotalPages() ? 'page-item' : 'page-item disabled'}">
                <a class="page-link" th:if="${city == null}" href="#" th:href="@{${pathName} + '?page=' + ${events.getNumber() + 2}}">Następna</a>
                <a class="page-link" th:if="${city != null}" href="#" th:href="@{${pathName} + '/cities/' + ${city} + '?page=' + ${events.getNumber() + 2}}">Następna</a>
            </li>
            <li class="page-item disabled" th:class="${(events.getNumber() + 1) < events.getTotalPages() ? 'page-item' : 'page-item disabled'}">
                <a class="page-link" th:if="${city == null}" href="#" th:href="@{${pathName} + '?page=' + ${events.getTotalPages()}}">Ostatnia</a>
                <a class="page-link" th:if="${city != null}" href="#" th:href="@{${pathName} + '/cities/' + ${city} + '?page=' + ${events.getTotalPages()}}">Ostatnia</a>
            </li>
        </ul>
    </nav>
</div>

<script>
    function getEventsByCity() {
        let city = document.getElementById('city').value;
        city = city
            .normalize('NFKD')
            .replace(/\p{Diacritic}/gu, '')
            .replace(/\u0141/g, 'L')
            .replace(/\u0142/g, 'l')
            .replace(/\u0020/g, '-')
            .toLowerCase();

        if (window.location.pathname.includes('/events/my_events')) {
            window.location.href = window.location.origin + '/events/my_events/cities/' + city;
            return;
        }
        if (window.location.pathname.includes('/archive/events')) {
            window.location.href = window.location.origin + '/archive/events/cities/' + city;
            return;
        }
        if (window.location.pathname.includes('/events')) {
            window.location.href = window.location.origin + '/events/cities/' + city;
            return;
        }
    }
</script>
<th:block th:replace="fragments :: scripts"></th:block>
</body>
</html>