<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${event.name + ' · IT Events'}">Java Dev Talks #1 · IT Events</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link href="../static/styles/main.css" th:href="@{/styles/main.css}" rel="stylesheet"/>
</head>
<body>
<nav th:replace="fragments :: navbar"></nav>
<div class="container event-container">
    <div class="event-heading">
        <h2 th:text="${event.name}">Java Dev Talks #1</h2>
    </div>
    <div>
        <div class="row">
            <label class="col-sm-2 app-label">Wydarzenie:</label>
            <span class="col-sm-10" style="text-align: left;" th:text="${event.name}">Java Dev Talks #1</span>
        </div>
        <div class="row">
            <label class="col-sm-2 app-label">Typ wydarzenia:</label>
            <span class="col-sm-10" style="text-align: left;" th:text="${event.eventType}">Spotkanie</span>
        </div>
        <div class="row">
            <label class="col-sm-2 app-label">Data:</label>
            <span class="col-sm-10" style="text-align: left;" th:text="${event.date}">01.03.2023</span>
        </div>
        <div class="row">
            <label class="col-sm-2 app-label">Godzina:</label>
            <span class="col-sm-10" style="text-align: left;" th:text="${event.hour}">18:00</span>
        </div>
        <div class="row">
            <label class="col-sm-2 app-label">Język:</label>
            <span class="col-sm-10" style="text-align: left;" th:text="${event.language}">polski</span>
        </div>
        <div class="row">
            <label class="col-sm-2 app-label">Wstęp:</label>
            <span class="col-sm-10" style="text-align: left;" th:text="${event.admission}">Bezpłatny</span>
        </div>
        <div class="row">
            <label class="col-sm-2 app-label">Miasto:</label>
            <span class="col-sm-10" style="text-align: left;" th:text="${event.city}">Rzeszów</span>
        </div>
        <div class="row">
            <label class="col-sm-2 app-label">Lokacja:</label>
            <span class="col-sm-10" style="text-align: left;" th:text="${event.location}">WSIiZ</span>
        </div>
        <div class="row">
            <label class="col-sm-2 app-label">Adres:</label>
            <span class="col-sm-10" style="text-align: left;" th:text="${event.address}">Sucharskiego 2, 35-225 Rzeszów</span>
        </div>
        <div class="row">
            <label class="col-sm-2 app-label">Organizator:</label>
            <a style="color: gray; text-decoration: none;" th:href="@{'/users/' + ${event.organizerId}}">
                <div class="organizer-card">
                    <img th:src="${'data:' + event.organizerImageType + ';base64,' + event.organizerImageData}" width="100" height="100">
                    <span style="text-align: left; padding-left: 16px; padding-right: 16px;" th:text="${event.organizerName}">Jan Kowalski</span>
                </div>
            </a>
        </div>
        <div class="row">
            <label class="col-sm-2 app-label">Opis:</label>
            <span class="col-sm-10" style="text-align: left;" th:text="${event.description}">Spotkanie rzeszowskiej grupy pasjonatów języka Java.</span>
        </div>
    </div>
</div>

<th:block th:replace="fragments :: scripts"></th:block>
</body>
</html>