<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Zaktualizuj wydarzenie · IT Events</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link href="../../../static/styles/main.css" th:href="@{/styles/main.css}" rel="stylesheet"/>
</head>
<body>
<nav th:replace="fragments :: navbar"></nav>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="side-nav-link active" href="#" th:href="@{'/organizer/events/' + ${eventEditData.id} + '/edit'}">Edytuj wydarzenie</a>
                </li>
                <li class="nav-item">
                    <a class="side-nav-link" href="#" th:href="@{'/organizer/events/' + ${eventEditData.id} + '/participants'}">Uczestnicy</a>
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            <form id="eventEditForm" name="eventEditForm" class="custom-form" enctype="multipart/form-data" onsubmit="return validateEventEditForm();" method="post" th:method="patch" action="#" th:action="@{'/organizer/events'}" th:object="${eventEditData}">
                <div class="form-heading">
                    <h2>Zaktualizuj wydarzenie</h2>
                    <span>Wprowadź informacje o wydarzeniu poniżej</span>
                </div>
                <input type="hidden" id="id" name="id" th:field="*{id}">
                <div class="form-group">
                    <label for="name" class="form-label">NAZWA</label>
                    <input type="text"
                           id="name" name="name"
                           class="form-control" th:class="${#fields.hasErrors('name')} == FALSE ? 'form-control' : 'form-control is-invalid'"
                           placeholder="Nazwa"
                           th:field="*{name}">
                    <div id="nameErrorMessage" class="error-message" style="display: none;" th:text="#{form.field.name.error.notEmpty.message}">Błędy związane z nazwą</div>
                    <div class="error-message" th:errors="*{name}">Błędy związane z nazwą</div>
                </div>
                <div class="form-group">
                    <label for="eventImage" class="form-label">ZDJĘCIE WYDARZENIA</label>
                    <div style="margin: 8px 0 8px 0;">
                        <img th:src="${'data:' + eventEditData.imageType + ';base64,' + eventEditData.imageData}" width="480" height="270">
                    </div>
                    <input type="file"
                           id="eventImage" name="eventImage"
                           class="form-control-file" th:class="${#fields.hasErrors('eventImage')} == FALSE ? 'form-control-file' : 'form-control-file is-invalid'"
                           th:field="*{eventImage}">
                    <div class="error-message" th:errors="*{eventImage}">Błędy związane ze zdjęciem wydarzenia</div>
                </div>
                <div class="form-group">
                    <label for="eventType" class="form-label">TYP WYDARZENIA</label>
                    <select id="eventType" name="eventType"
                            class="form-control" th:class="${#fields.hasErrors('eventType')} == FALSE ? 'form-control' : 'form-control is-invalid'"
                            th:field="*{eventType}">
                        <option th:each="eventType : ${T(pl.patrykdepka.iteventsapp.event.enumeration.EventType).values()}" th:value="${eventType}" th:text="${eventType.displayName}"></option>
                    </select>
                    <div id="eventTypeErrorMessage" class="error-message" style="display: none;" th:text="#{form.field.eventType.error.notEmpty.message}">Błędy związane z typem wydarzenia</div>
                    <div class="error-message" th:errors="*{eventType}">Błędy związane z typem wydarzenia</div>
                </div>
                <div class="form-group">
                    <label for="dateTime" class="form-label">DATA I GODZINA</label>
                    <input type="datetime-local"
                           id="dateTime" name="dateTime"
                           class="form-control" th:class="${#fields.hasErrors('dateTime')} == FALSE ? 'form-control' : 'form-control is-invalid'"
                           th:field="*{dateTime}">
                    <div id="dateTimeErrorMessage" class="error-message" style="display: none;" th:text="#{form.field.dateTime.error.notEmpty.message}">Błędy związane z datą i godziną wydarzenia</div>
                    <div class="error-message" th:errors="*{dateTime}">Błędy związane z datą i godziną wydarzenia</div>
                </div>
                <div class="form-group">
                    <label for="language" class="form-label">JĘZYK</label>
                    <input type="text"
                           id="language" name="language"
                           class="form-control" th:class="${#fields.hasErrors('language')} == FALSE ? 'form-control' : 'form-control is-invalid'"
                           placeholder="Język"
                           th:field="*{language}">
                    <div id="languageErrorMessage" class="error-message" style="display: none;" th:text="#{form.field.language.error.notEmpty.message}">Błędy związane z językiem</div>
                    <div class="error-message" th:errors="*{language}">Błędy związane z językiem</div>
                </div>
                <div class="form-group">
                    <label for="admission" class="form-label">WSTĘP</label>
                    <select id="admission" name="admission"
                            class="form-control" th:class="${#fields.hasErrors('admission')} == FALSE ? 'form-control' : 'form-control is-invalid'"
                            th:field="*{admission}">
                        <option th:each="admission : ${T(pl.patrykdepka.iteventsapp.event.enumeration.AdmissionType).values()}" th:value="${admission}" th:text="${admission.displayName}"></option>
                    </select>
                    <div id="admissionErrorMessage" class="error-message" style="display: none;" th:text="#{form.field.admission.error.notEmpty.message}">Błędy związane z wstępem</div>
                    <div class="error-message" th:errors="*{admission}">Błędy związane z wstępem</div>
                </div>
                <div class="form-group">
                    <label for="city" class="form-label">MIASTO</label>
                    <input type="text"
                           id="city" name="city"
                           class="form-control" th:class="${#fields.hasErrors('city')} == FALSE ? 'form-control' : 'form-control is-invalid'"
                           placeholder="Miasto"
                           th:field="*{city}">
                    <div id="cityErrorMessage" class="error-message" style="display: none;" th:text="#{form.field.city.error.notEmpty.message}">Błędy związane z miastem</div>
                    <div class="error-message" th:errors="*{city}">Błędy związane z miastem</div>
                </div>
                <div class="form-group">
                    <label for="location" class="form-label">LOKACJA</label>
                    <input type="text"
                           id="location" name="location"
                           class="form-control" th:class="${#fields.hasErrors('location')} == FALSE ? 'form-control' : 'form-control is-invalid'"
                           placeholder="Lokacja"
                           th:field="*{location}">
                    <div id="locationErrorMessage" class="error-message" style="display: none;" th:text="#{form.field.location.error.notEmpty.message}">Błędy związane z lokacją</div>
                    <div class="error-message" th:errors="*{location}">Błędy związane z lokacją</div>
                </div>
                <div class="form-group">
                    <label for="address" class="form-label">ADRES</label>
                    <input type="text"
                           id="address" name="address"
                           class="form-control" th:class="${#fields.hasErrors('address')} == FALSE ? 'form-control' : 'form-control is-invalid'"
                           placeholder="Adres"
                           th:field="*{address}">
                    <div id="addressErrorMessage" class="error-message" style="display: none;" th:text="#{form.field.address.error.notEmpty.message}">Błędy związane z adresem</div>
                    <div class="error-message" th:errors="*{address}">Błędy związane z adresem</div>
                </div>
                <div class="form-group">
                    <label for="description" class="form-label">OPIS</label>
                    <textarea id="description" name="description"
                              class="form-control" th:class="${#fields.hasErrors('description')} == FALSE ? 'form-control' : 'form-control is-invalid'"
                              placeholder="Opis"
                              th:field="*{description}">
                    </textarea>
                    <div id="descriptionErrorMessage" class="error-message" style="display: none;" th:text="#{form.field.description.error.notEmpty.message}">Błędy związane z opisem</div>
                    <div class="error-message" th:errors="*{description}">Błędy związane z opisem</div>
                </div>
                <div class="d-grid gap-2 col-5 mx-auto" style="margin: 8px 0 8px 0;">
                    <button class="btn form-button" type="submit">Zaktualizuj wydarzenie</button>
                </div>
            </form>
        </div>
    </div>
</div>

<th:block th:replace="fragments :: scripts"></th:block>
<script type="text/javascript" src="../../../static/scripts/validation.js" th:src="@{/scripts/validation.js}"></script>
</body>
</html>