.custom-navbar {
    background-color: #f39c12;
    box-shadow: 0 0 9px 0;
}

.container {
    margin: auto auto auto auto;
    padding: 50px 75px;
    max-width: 75%;
}

.form-container {
    margin: 50px auto auto auto;
    padding: 50px 75px;
    max-width: 600px;
    border: 1px solid #f39c12;
    border-radius: 0.25rem;
    box-shadow: 0 0 3px 0 #999999;
}

.custom-form {
    display: flex;
    flex-direction: column;
}

.form-heading {
    margin-bottom: 24px;
}

.custom-alert-success {
    color: #28a745;
    background-color: #d4edda;
    border-color: #28a745;
}

.custom-alert-danger {
    color: #dc3545;
    background-color: #f8d7da;
    border-color: #dc3545;
}

.form-group {
    margin: 8px 0 8px 0;
}

.form-label {
    font-weight: bold;
    margin-bottom: 0;
}

.error-message {
    font-size: 80%;
    color: #dc3545;
}

.custom-checkbox {
    accent-color: #f39c12;
}

.form-button {
    color: #ffffff;
    background-color: #f39c12;
    border-color: #f39c12;
}

.form-button:focus {
    color: #ffffff;
    background-color: #f39c12;
    border-color: #f39c12;
}

.form-button:hover {
    color: #ffffff;
    background-color: #d68910;
    border-color: #d68910;
}

.app-label {
    font-weight: bold;
    text-align: left;
}

.table-heading {
    text-align: center;
}

.search-container {
    padding: 16px 12px 16px 0;
    background-color: #d3d3d3;
}

.search-form {
    width: 100%;
    display: flex;
}

.search-icon {
    color: #f39c12;
}

.search-form-input {
    font-size: 1rem;
    color: #495057;
    width: 100%;
    padding: 0.5rem 0.75rem;
    background-color: #ffffff;
    border: none;
    border-radius: 0;
}

.search-form-input:focus-visible {
    outline: none;
}

.search-form-button {
    padding: 0.5rem 0.75rem;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
}

.search-form-button:focus {
    outline: none;
}

.search-form-button:focus-visible {
    outline: none;
}

.icon-button {
    color: #f39c12;
}

.icon-button:hover {
    color: #d68910;
}

.admin-user-table td {
    vertical-align: middle;
}

.page-item.active .page-link {
    background-color: #f39c12;
    border-color: #f39c12;
}

.sort-options-menu {
    padding: 0.375rem 0.75rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.sort-options-menu:hover {
    text-decoration: none;
    color: #495057;
}

.page-link {
    color: #f39c12;
}

.page-link:hover {
    color: #d68910;
}

.side-nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #212529;
    border-radius: 0.5rem;
}

.side-nav-link:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: rgb(243, 156, 18, .5);
}

.side-nav-link.active {
    color: #ffffff;
    font-weight: bold;
    background-color: #f39c12;
}